div{
    border-radius:5px;
}

#header{
    border-radius:5px;
    height:40px;
    background-color:#335c85;
    z-index:1;
    width:98.5%;
    position:fixed;
}

#header p{
    padding-left:5px;
    padding-right:5px;
    color:#5c002e;
}

#footer{
    border-radius:5px;
    border:2px solid #335c85;
    height:40px;
    background-color:#335c85;
    margin-top:5px;
    clear:both;
    width:99.5%;
    position:relative;
}

#footer p{
    text-align:center;
    padding-bottom:5px;
    color:#5c002e;
}
#name{
    float:left;
    font-family:Verdana;
}

#email{
  float:right;
  font-family:Verdana;
}
.left{
    border-radius:5px;
    border:2px solid #99ccff;
    height:425px;
    width:10%;
    background-color:#99ccff;
    margin-bottom:5px;
    float:left;
    position:relative;
    margin-top:50px;
}

.right{
    border-radius:5px;
    border:2px solid #99ccff;
    height:425px;
    width:88%;
    background-color:#99ccff;
    margin-bottom:5px;
    margin-top:50px;
    float:right;
    padding:2px;
    position:relative;
    font-family:Tahoma;
}

a:link{
    text-decoration:none;
    color:#5c002e;
}

a:hover{
    color:#000099;
}